.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.itens{
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
}

.itensu{
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
}

.how{
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
}

.doisinput{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    background-color: bisque;
}